# backend.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: emotion-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: emotion-backend
  template:
    metadata:
      labels:
        app: emotion-backend
    spec:
      containers:
        - name: app
          image: 2with13/backend:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgresql:5432/mydb
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: password
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 15
            failureThreshold: 6
---
apiVersion: v1
kind: Service
metadata:
  name: emotion-backend
spec:
  type: ClusterIP
  selector:
    app: emotion-backend
  ports:
    - port: 8080
      targetPort: 8080
