# frontend-deploy.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend
  namespace: moodtracker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-frontend
  template:
    metadata:
      labels:
        app: react-frontend
    spec:
      containers:
        - name: react-frontend
          # TODO: 이미지 이름 변경 필요
          image: 2with13/test:1.0.2
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: react-frontend
  namespace: moodtracker
spec:
  selector:
    app: react-frontend
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
