spring:
  application:
    name: emotion-backend
  profiles:
    active: local  # 기본 실행 프로필 (로컬)

jwt:
  secret: "this-is-my-secret-jwt-key-for-cloud-system-backend-application"
  expiration: 86400000  # 1일

---
# 로컬
spring:
  jackson:
    time-zone: Asia/Seoul
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:5432/moodtracker
    username: user
    password: pswd
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc.time_zone: Asia/Seoul

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

python:
  url: "http://localhost:8000"

---
# K8s
spring:
  jackson:
    time-zone: Asia/Seoul
  config:
    activate:
      on-profile: k8s
  datasource:
    url: jdbc:postgresql://postgresql:5432/mydb
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      jdbc.time_zone: Asia/Seoul

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

python:
  url: "http://python-ml:8000"